{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Backend Test : Spend Pts from all Payers based on Timestamps {% endblock %}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="points">Points</label>
            <input type="number" name="points"
               placeholder="Points" class="form-control"
               value="{{ request.form['points'] }}"></input>
        </div> 

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>  

    <div>
        <h2>
            Total points of all payers :  
            <span class="badge badge-pill badge-secondary">{{ total_points['total_points'] }}</span>
        </h2>
        <hr>
        {% for p in payers_table %}
            <h2>{{ p['payer'] }}
            <span class="badge badge-pill badge-secondary">{{ p['points'] }}</span>
            <span class="badge badge-pill badge-secondary">{{ p['timestamp_'] }}</span>
            </h2>
        <hr>
    {% endfor %}
    </div>
{% endblock %}